@import url(https://fonts.googleapis.com/css?family=Cabin+Condensed);

@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Caveat&family=Varela+Round&display=swap");
body {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.wrapper {
  background-size: cover;
  font-family: "Cabin Condensed", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

svg {
  font-weight: bold;
  max-width: 600px;
  height: 250px;
  width: 900px;
  /* height: 100%; */
}

.content {
  background: rgba(226, 218, 218, 0.1);
  backdrop-filter: blur(30px);
  width: 80%;
  float: right;
  padding: 20px;
  box-shadow: 0 0 16px 0 rgba(245, 241, 241, 0.5);
}
.content:hover {
  backdrop-filter: blur(0px);
}
.text {
  font-size: 23px;
  color: black;
  line-height: 1.95;
  font-family: "Caveat", cursive;
  font-weight: 600;
  text-transform: uppercase;
  text-align: justify;
  /* margin-bottom: 40px; */
}
@media screen and (max-width: 1200px) {
  .content {
    padding: 20px;
  }
  .text {
    font-size: 25px;
  }
}

@media screen and (max-width: 1000px) {
  .content {
    width: 90%;
  }
  .text {
    font-size: 20px;
  }
}
@media screen and (max-width: 600px) {
  .content {
    padding: 20px;
  }
  .text {
    font-size: 15px;
  }
}
@media screen and (max-width: 361px) {
  .content {
    padding: 10px;
  }
  .text {
    font-size: 14px;
  }
  svg {
    height: 150px;
    width: 350px;
  }
}

.counters {
  color: #fff;
  padding: 30px 20px;
  border-top: 3px rgb(234, 239, 243) solid;
  margin-top: 30px;
}

.counters .container {
  display: flex;
  grid-gap: 100px;
  text-align: center;
}
.counters .container .card {
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background: #2a2b2f;
  border: 2px solid #1e1f23;
  border-radius: 10px;

  transition: 0.5s;
}

.container .card h3 {
  font-size: 22px;
  letter-spacing: 2px;
  margin-top: 9%;
}
.counters i {
  color: lightskyblue;
  margin-bottom: 0;
  cursor: pointer;
}

.counters .counter {
  font-size: 25px;
  margin: 10px 0;
  margin-bottom: -10px;
}
.card {
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
  width: 150px;
  height: 170px;
  border-radius: 10px;
}
.card i {
  margin-top: 15px;
  cursor: pointer;
  /* color: lightskyblue; */
}
@media (max-width: 700px) {
  .counters .container {
    grid-template-columns: repeat(2, 1fr);
  }

  .counters .container > div:nth-of-type(1),
  .counters .container > div:nth-of-type(2),
  .counters .container > div:nth-of-type(3) {
    border-bottom: 1px lightskyblue solid;
    padding-bottom: 0px;
  }
}

@media (max-width: 800px) {
  .counters .container {
    display: flex;
    grid-gap: 60px;
    text-align: center;
  }
  .container .card h3 {
    margin: 15px 0;
    font-size: 21px;
  }
  .counters .counter {
    font-size: 20px;
    margin: 10px 0;
  }
}
@media (max-width: 750px) {
  .counters .container {
    display: flex;
    grid-gap: 30px;
    text-align: center;
  }
  .container .card h3 {
    margin: 15px 0;
    font-size: 20px;
  }
  .counters .counter {
    font-size: 20px;
    margin: 10px 0;
  }
}

@media (max-width: 640px) {
  .counters .container {
    display: flex;
    grid-gap: 10px;
    text-align: center;
  }
  .container .card h3 {
    margin: 15px 0;
    font-size: 22px;
  }
  .counters .counter {
    font-size: 20px;
    margin: 10px 0;
  }
}
@media (max-width: 600px) {
  .counters .container {
    display: flex;
    grid-gap: 20px;
    text-align: center;
  }
  .counters .counter {
    font-size: 20px;
    margin: 10px 0;
  }
  .card .fa-calendar {
    font-size: 17px;
  }
  .card .fa-university {
    font-size: 17px;
  }
  .card .fa-users {
    font-size: 17px;
  }
  .container .card h3 {
    margin: 12px 0;
    font-size: 18px;
  }
  .card {
    margin-bottom: 20px;
    width: 110px;
    height: 130px;
  }
}

@media (max-width: 460px) {
  .counters .container {
    display: flex;
    grid-gap: 15px;
    text-align: center;
  }
  .container .card h3 {
    margin: 2px 0;
    font-size: 15px;
  }
  .card .fa-calendar {
    font-size: 20px;
  }
  .card .fa-university {
    font-size: 20px;
  }
  .card .fa-users {
    font-size: 20px;
  }
  .card {
    margin-bottom: 0px;
    width: 90px;
    height: 110px;
  }

  .counters .counter {
    font-size: 20px;
    margin: 5px 0;
  }
}
